*{
    padding: 0px;
    margin: 0px;
    /* display: flex;
    flex-wrap: wrap; */
}


.navbar{
    background-color: #008001;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 98%;
    position: fixed;
    flex-wrap: wrap;
    /* top: 30; */
}

ul{
    display: flex;
    gap: 15px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}


.hero{
    
    background-image: url('./images/background\ image.jpg');
    background-size: cover;
    background-position: center;
    justify-items: center;
    height: 500px;
    width: 100%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}


.hero h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 10px;
    padding-bottom: 50px; 
    text-shadow: 5px 5px 10px black;
}


.hero button{
    background:white;
    color: #008001;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 20px;
}


.fruit-section{
    display: flex;
    align-items: center;
    padding: 60px;

}


.fruit-content{
    margin-left: 50px;
    
}


.fruit-content h1{
    color: green;
    padding-bottom: 15px;
}


.product-section{
    background-color: lime;
    border-radius: 300px 300px 0 0;
    padding-bottom: 20px;
    text-align: center;
}


.product-section h1{
    color: white;
    font-size: 36px;
    padding-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px #008001;
}

.products{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


.product-card{
    background: white;
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    
    
}

.product-card img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.product-card h3{
    color: #008001;
    margin: 15px;
    font-size: 32px;
}

.product-card p{
    color: #008001;
    font-weight: bold;
}


.product-card button{
    background-color: white;
    color: #008001;
    border: 2px solid green;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 18px;
    
}

.reviews h1{
    text-align: center;
    margin-top: 40px;
    color: #008001;
    font-size: 32px;
}



.review-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}

.review-card{
    background: linear-gradient(to right,#a2ff2c,#20fe09);
    display: flex;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    gap: 15px;
}


.review-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.review-text{
    align-items: center;
    color: white;
}


.choose{
    width: 65%;
    min-height: 600px;
    background: limegreen;
    border-radius: 0 500px 500px 0;
    color: white;
    margin-top: 70px;
}


.choose-item img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.choose-content{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}



.choose-item h2{
    font-size: 50px;
    padding-right: 6px;
    
}



.choose-item h3{
    font-size: 30px;
    margin-bottom: 6px;
    
}

.choose-item p{
    font-size: 20px;
}


.choose-item{
    display: flex;
    gap: 15px;
    
}

.choose-text{
    align-content: center;
    
}


#choose1{
    flex-direction: row-reverse;
}


#img{
    height: 300px;
    width: 300px;
}


.fruit{
    width: 100%;
    margin: 20px 0;
}

.fruit-box{
    width: 1400px;
    margin: auto;
    background: white;
    border: 3px solid lime;
    display: flex;
    justify-content: center;
    border-radius: 600px 0px 600px 0px;
    padding: 40px 50px;
    align-items: center;
}

.fruit-box:hover{
    background-color: red;
}

.fruit-box img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.end{
    background: limegreen;
    text-align: center;
    padding: 18px 0;
    font-size: 20px;
    color: white;
}